<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @agence.nom %>
</p>

<p>
  <strong>Principalgroupe:</strong>
  <%= @agence.principalgroupe %>
</p>

<p>
  <strong>Sousgroupe:</strong>
  <%= @agence.sousgroupe %>
</p>

<%= link_to 'Edit', edit_agence_path(@agence) %> |
<%= link_to 'Back', agences_path %>
